<div class="page-header">
  <h1>  预约会议列表 </h1>
</div>

<div class="table-responsive">
  <table class="table table-fixed table-white table-hover">
    <thead>
    <th width="20%"> 时间 </th>
    <th width="20%"> 合伙人 </th>
    </thead>
    <tbody>
    <% @meetings.each do |meeting|%>
      <tr>
        <td width="20%"><%= meeting.date %> </td>
        <td width="20%"><%= meeting.date %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>